* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 840px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.headline-text {
  padding: 20px 0 0 20px;
}
.website {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #848282;
}
