* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.headline-text {
  padding: 20px 0 0 20px;
}
.website {
  width: 840px;
  padding: 50px 30px 0 0;
  margin: 0 auto;
}
